<section cdkDrag class="my-2 hand">
  <div class="d-flex justify-content-end align-items-center">
    <a (click)="displayConfig()" class="mx-2 finger">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="currentColor"
        class="bi bi-pencil-square"
        viewBox="0 0 25 25"
      >
        <path
          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
        />

        fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0
        1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0
        1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1
        2.5v11z" />
      </svg>
    </a>
    <a (click)="deleteQuestionSelection()" class="mx-2 finger">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="currentColor"
        class="bi bi-archive"
        viewBox="0 0 25 25"
      >
        <path
          d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"
        />
      </svg>
    </a>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingT">
      <button
        class="my-2 mx-2 px-1  blue-btn"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseT"
        aria-expanded="false"
        aria-controls="collapseT"
      >
      <span>
        Configration
      </span>
      </button>
    </h2>
    <div
      id="collapseT"
      class="accordion-collapse collapse"
      aria-labelledby="headingT"
      data-bs-parent="#accordionExamp"
    >
      <div class="accordion-body">
        <div class="lls-form">
          <h5 class="blue">configration</h5>
          <div class="row my-2">
            <div class="col-md-4">
              <div class="lls-form-group">
                <p class="form-label">time:</p>
                <p class="form-input">{{ data.config.answeringTime }}</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lls-form-group">
                <p class="form-label">grading:</p>
                <p class="form-input">{{ data.config.grading }}</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lls-form-group">
                <p class="form-label">Help Text:</p>
                <p class="form-input">{{ data.config.help }}</p>
              </div>
            </div>
            <!-- <div class="col-md-8 my-3">
              <div class="lls-form-group">
                <p class="form-label">ShowCountDown :</p>
                <p class="form-input">{{ data.config.showCountdown }}</p>
              </div>
            </div>
            <div class="col-md-8 my-3">
              <div class="lls-form-group">
                <p class="form-label">showCorrectAnswer:</p>
                <p class="form-input">{{ data.config.showCorrectAnswer }}</p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <h5 class="blue">questions</h5>
  <div
    class="p-1"
    (cdkDropListDropped)="drangAndDropContent($event)"
    cdkDropList
  >
    <div class="p-1 hand" *ngFor="let question of data.content.data" cdkDrag>
      <div class="lls-form my-1">
        <!-- <div class="row">
          <div class="col-md-10"> -->
        <div class="lls-form-group my-1">
          <!-- <p class="form-label">Your Question:</p> -->
          <p class="form-input my-0">
            {{ question.question }}
            <span class="blue">({{ question.answer }})</span>
          </p>
          <!-- </div>
          </div> -->
          <!-- <div class="col-md-5">
            <div class="lls-form-group">
              <p class="form-label">Your Answer:</p>
              <p class="form-input">
                {{ question.answer }}
              </p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<p-dialog
  header="edit"
  [(visible)]="display"
  [draggable]="false"
  [modal]="true"
  [style]="{ width: '60vw' }"
>
  <h3 class="grey">configration</h3>
  <form
    class="lls-form"
    [formGroup]="configForm"
    (ngSubmit)="$event.preventDefault()"
  >
    <div class="row">
      <div class="col-md-4">
        <div class="lls-form-group">
          <label>help</label>
          <input type="text" formControlName="help" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="lls-form-group">
          <label>Answering time</label>
          <input type="number" formControlName="answeringTime" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="lls-form-group">
          <label>grading</label>
          <select type="text" formControlName="grading">
            <option *ngFor="let grade of gradingOptions" [value]="grade">
              {{ grade }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex align-items-center">
          <input
            type="checkbox"
            formControlName="showCountdown"
            class="w-auto m-0 p-0"
          />
          <label class="mx-3">show count down</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex align-items-center">
          <input
            type="checkbox"
            formControlName="showCorrectAnswer"
            class="w-auto m-0 p-0"
          />
          <label class="mx-3">show correct answer</label>
        </div>
      </div>
    </div>
  </form>
  <hr />
  <h3 class="blue">questions</h3>
  <form
    [formGroup]="truOrFlaseForm"
    (submit)="$event.preventDefault()"
    class="lls-form"
  >
    <div class="d-flex justify-content-end">
      <a (click)="addQuestion()" class="mx-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-plus-circle-fill"
          viewBox="0 0 25 25"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
          />
        </svg>
      </a>
    </div>
    <div formArrayName="truOrFlase">
      <div *ngFor="let question of questionsForm.controls; let i = index">
        <form
          [formGroup]="question"
          class="my-3"
          (submit)="$event.preventDefault()"
        >
          <div class="row">
            <div class="col-12">
              <div class="d-flex justify-content-end">
                <a
                  (click)="deleteQuestion(i)"
                  *ngIf="questionsForm.controls.length > 1"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-archive"
                    viewBox="0 0 25 25"
                  >
                    <path
                      d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="lls-form-group">
                <label>question</label>
                <input type="text" formControlName="question" />
                <div
                  *ngIf="
                    question.get('question')?.invalid &&
                    question.get('question')?.touched
                  "
                  class="errors-container"
                >
                  <span
                    *ngIf="question.get('question')?.errors?.['required']"
                    class="errors cairo-regular"
                  >
                    question is required
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lls-form-group">
                <label>score</label>
                <input type="number" value="true" formControlName="score" />
                <div
                  *ngIf="
                    question.get('score')?.invalid &&
                    question.get('score')?.touched
                  "
                  class="errors-container"
                >
                  <span
                    *ngIf="question.get('score')?.errors?.['required']"
                    class="errors cairo-regular"
                  >
                    score is required
                  </span>
                </div>
                <div
                  *ngIf="
                    question.get('score')?.invalid &&
                    question.get('score')?.touched
                  "
                  class="errors-container"
                >
                  <span
                    *ngIf="question.get('score')?.errors?.['pattern']"
                    class="errors cairo-regular"
                  >
                    score must be less than 1000
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="">
                <div class="lls-form-group">
                  <label>answer</label>
                </div>
                <div class="d-flex align-items-center">
                  <input
                    type="radio"
                    value="false"
                    formControlName="answer"
                    class="w-auto m-0 p-0"
                  />
                  <label class="mx-2">False</label>
                </div>
                <div class="d-flex">
                  <input
                    type="radio"
                    value="true"
                    formControlName="answer"
                    class="w-auto m-0 p-0"
                  />
                  <label class="mx-2">True</label>
                </div>
                <div
                  *ngIf="
                    question.get('answer')?.invalid &&
                    question.get('answer')?.touched
                  "
                  class="errors-container"
                >
                  <span
                    *ngIf="question.get('answer')?.errors?.['required']"
                    class="errors cairo-regular"
                  >
                    answer is required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>
        <hr />
      </div>
    </div>
  </form>
  <hr />
  <div class="d-flex justify-content-center">
    <button
      class="blue-btn"
      *ngIf="questionsForm.controls.length"
      [disabled]="truOrFlaseForm.invalid || configForm.invalid"
      (click)="saveQuestions()"
    >
      save
    </button>
  </div>
</p-dialog>
