<div *ngIf="currentPageNumber$ | async as currentPageNumber">
  <div
    class="lls-container mt-5"
    *ngIf="PermissionsList$ | async as Permissions"
  >
    <div class="row mt-5">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
          <div class="title">
            <h4 class="">Permissions</h4>
            <span class="">({{ Permissions.length }} Permissions)</span>
          </div>

          <!-- <button
            class="blue-btn dropdown-toggle"
            routerLink="/user/Permissions/create-user"
          >
            new Permissions
          </button> -->
        </div>
        <div class="table-lls my-5">
          <table>
            <tr>
              <th>Permissions</th>
              <!-- <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Role</th> -->
              <!-- <th>Actions</th> -->
            </tr>
            <tr *ngFor="let User of Permissions">
              <td>{{ User }}</td>
              <!-- <td>{{ User.email }}</td>
              <td>{{ User.lastname }}</td>
              <td>{{ User.email }}</td>
              <td>{{ User.role }}</td> -->
              <!-- <td>
                <div class="d-flex align-items-center">
                  <a
                    class="blue cursor text-decoration-none"
                    routerLink="/user/Permissions/user-details/{{ User.idd }}"
                  >
                    Veiw
                  </a>
                  <a
                    class="blue cursor text-decoration-none mx-2"
                    (click)="showDiloagEdit(User.idd)"
                  >
                    Edit
                  </a>
                </div>
              </td> -->
            </tr>
          </table>
          <!-- <div
            class="d-flex justify-content-between align-items-center h-100 pageNu p-3"
          >
            <div>showing 1 to 10 from {{ Permissions.length }}</div>

            <div class="">
              <nav
                aria-label="Page navigation example  "
                class="page my-2"
                *ngIf="PermissionsPageNumber$ | async as pages"
              >
                <ul
                  class="pagination d-flex justify-content-center"
                  *ngIf="pages.length"
                >
                  <li class="page-item">
                    <a
                      (click)="paginate(currentPageNumber - 1, pages)"
                      class="page-link blue cursor"
                      [ngClass]="{ blueLight: currentPageNumber <= 1 }"
                    >
                      previous
                    </a>
                  </li>
                  <li class="page-item" *ngFor="let page of pages">
                    <a
                      (click)="paginate(page, pages)"
                      class="page-link orange cursor"
                      [ngClass]="{ active: page === currentPageNumber }"
                      >{{ page }}</a
                    >
                  </li>
                  <li class="page-item">
                    <a
                      (click)="paginate(currentPageNumber + 1, pages)"
                      class="page-link blue cursor"
                      [ngClass]="{
                        blueLight: currentPageNumber >= pages.length
                      }"
                    >
                      next
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <p-dialog
      *ngIf="id"
      header="Edit Experiment"
      [(visible)]="editUserForm"
      [draggable]="false"
      [modal]="true"
      [style]="{ width: '50vw', height: '70vh' }"
    >
      <app-edit-User [itemId]="id"></app-edit-User>
    </p-dialog> -->
