<section class="my-3 p-4 w-100">
  <p *ngIf="data.config.help">{{ data.config.help }}</p>
  <div class="">
    <small *ngIf="data.config.help">({{ data.config.help }})</small>
    <div class="" *ngFor="let question of data.content.data; let i = index">
      <p>
        {{ question.question }} (<span class="blue">{{ question.answer }}</span
        >) (<span class="blue">{{ question.score }}</span
        >)
      </p>

      <div class="d-flex flex-column">
        <div>
          <p-radioButton
            [disabled]="true"
            [(ngModel)]="chooices[i]"
            [inputId]="'answer' + i + 'true'"
            [name]="'answer' + i"
            [value]="true"
            class="mx-1"
          ></p-radioButton>
          <label [for]="'answer' + i + 'true'">true</label>
        </div>
        <div>
          <p-radioButton
            [disabled]="true"
            [(ngModel)]="chooices[i]"
            [inputId]="'answer' + i + 'false'"
            [name]="'answer' + i"
            [value]="false"
            class="mx-1"
          ></p-radioButton>
          <label [for]="'answer' + i + 'false'">false</label>
        </div>
      </div>
    </div>
  </div>
  <div class="lls-form my-3" *ngIf="!isAvg">
    <div class="lls-form-group">
      <input
        type="number"
        placeholder="Score"
        [(ngModel)]="dataToSave.studentScore"
      />
    </div>
    <div class="lls-form-group">
      <textarea
        type="text"
        placeholder="FeedBack"
        [(ngModel)]="dataToSave.feedback"
      >
      </textarea>
    </div>
  </div>
  <div class="lls-form my-3" *ngIf="isAvg">
    <h5>
      average :<span class="blue"> {{ data.avg }}</span>
    </h5>
  </div>
</section>
<!-- <hr> -->
