@import "../../../../../assets/styles/base/colors";
:host ::ng-deep .drag-column {
  padding-right: 0.5em;
}
.blue-btn
{
  font-size: 16px !important;
  width: 10rem;
  
}
.drop-column {
  border: 1px solid transparent;
  transition: border-color 0.2s;

  &.p-draggable-enter {
    border-color: var(--primary-color);
  }
}

[pDraggable] {
  cursor: move;
}

p {
  font-family: Lato;
}

.content {
  min-height: 30vh;
  overflow: auto;
}

.border {
  border-bottom: 1px solid #ccc;
  margin: 0.3rem 0;
  padding: 0.25rem;
  cursor: pointer;
}

.drop {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  min-height: 40vh;
}

.border-content {
  border: 2px solid $blue;
  padding: 20px;
  border-radius: 10px;
}

.content-or-question-display {
  // border: 2px solid $blue;
  border-radius: 10px;
  background-color: rgba($white100,100%);
}

.content-or-question {
  // border: 2px solid $grey;
  // margin: 20px;
  // border-radius: 10px;
}

.types {
  position: fixed;
  width: 23vw;
  left: 0;
  bottom: 0;
  overflow: scroll;
}
.bg-grey {
  background-color: rgba($white100, 100%);
  border-radius: 6px;
}
