<div class="table-lls my-3" *ngIf="experiments$ | async as experiments">
  <div *ngIf="experiments.length">
    <table>
      <tr>
        <!-- <th>Id</th> -->
        <th>Experiment Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th class="text-center">Actions</th>
      </tr>
      <tr *ngFor="let ex of experiments">
        <!-- <td>
          {{ ex.idd }}
        </td> -->
        <td>{{ ex.name }}</td>
        <td>{{ ex.startDate | date }}</td>
        <td>{{ ex.endDate | date }}</td>
        <td class="blue">
          <div class="d-flex justify-content-around">
            <a
              class="blue cursor"
              routerLink="/user/grade-book/gr-experiment/{{ itemId }}/{{
                ex.idd
              }}"
            >
              View
            </a>
          </div>
        </td>
      </tr>
    </table>
    <div
      class="d-flex justify-content-between align-items-center h-100 pageNu p-3"
    >
      <div>showing 1 to 10 </div>
      <div class="" *ngIf="currentPageNumber$ | async as currentPageNumber">
        <nav
          aria-label="Page navigation example  "
          class="page my-2"
          *ngIf="ExperimentPageNumber$ | async as pages"
        >
          <ul
            class="pagination d-flex justify-content-center"
            *ngIf="pages.length"
          >
            <li class="page-item">
              <a
                (click)="paginate(currentPageNumber - 1, pages)"
                class="page-link blue cursor"
                [ngClass]="{ blueLight: currentPageNumber <= 1 }"
              >
                previous
              </a>
            </li>
            <li class="page-item" *ngFor="let page of pages">
              <a
                *ngIf="page <= 5"
                (click)="paginate(page, pages)"
                class="page-link orange cursor"
                [ngClass]="{ active: page === currentPageNumber }"
                >{{ page }}</a
              >
            </li>
            <li class="page-item">
              <a
                (click)="paginate(currentPageNumber + 1, pages)"
                class="page-link blue cursor"
                [ngClass]="{
                  blueLight: currentPageNumber >= pages.length
                }"
              >
                next
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="my-5 sub-title w-50" *ngIf="!experiments.length">
    <p class="text-center medium">No experiments In this course untill now</p>
  </div>
</div>
