<p-dialog
  header="All Teacher"
  [(visible)]="courseService.displayTeacher"
  [draggable]="false"
  [modal]="true"
  [style]="{ width: '60vw' }"
  (onHide)="closeDialog()"
>
  <div>
    <div class="table-lls my-3" *ngIf="allTeachers$ | async as teachers">
      <div class="d-flex justify-content-between">
        <app-forms-spinner></app-forms-spinner>
        <button class="blue-btn mb-2" (click)="addOneTeacher()">
          Assign Teachers
        </button>
      </div>
      <div *ngIf="teachers.length">
        <table>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th class="text-center">Actions</th>
          </tr>
          <tr *ngFor="let ex of teachers">
            <td>
              <input type="checkbox" *ngIf="isCheckBox" />
              {{ ex.idd | sub }}
            </td>
            <td>{{ ex.firstName }}</td>
            <td>{{ ex.lastname }}</td>
            <td>{{ ex.email }}</td>
            <td>{{ ex.role }}</td>
            <td class="blue">
              <button
                class="blue-btn mb-2 px-2 py-1"
                (click)="assignTeacher(ex.idd)"
                *ngIf="isCheckBox"
              >
                Assign
              </button>
            </td>
          </tr>
        </table>
        <div
          class="d-flex justify-content-between align-items-center h-100 pageNu p-3"
        >
          <div>showing 1 to 10 </div>
          <div class="" *ngIf="currentPageNumber$ | async as currentPageNumber">
            <nav
              aria-label="Page navigation example  "
              class="page my-2"
              *ngIf="TeacherPageNumber$ | async as pages"
            >
              <ul
                class="pagination d-flex justify-content-center"
                *ngIf="pages.length"
              >
                <li class="page-item">
                  <a
                    (click)="paginate(currentPageNumber - 1, pages)"
                    class="page-link blue cursor"
                    [ngClass]="{ blueLight: currentPageNumber <= 1 }"
                  >
                    previous
                  </a>
                </li>
                <li class="page-item" *ngFor="let page of pages">
                  <a
                    *ngIf="page <= 5"
                    (click)="paginate(page, pages)"
                    class="page-link orange cursor"
                    [ngClass]="{ active: page === currentPageNumber }"
                    >{{ page }}</a
                  >
                </li>
                <li class="page-item">
                  <a
                    (click)="paginate(currentPageNumber + 1, pages)"
                    class="page-link blue cursor"
                    [ngClass]="{
                      blueLight: currentPageNumber >= pages.length
                    }"
                  >
                    next
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <div class="my-5 sub-title w-50" *ngIf="!teachers.length">
        <p class="text-center medium">No Techers In this course untill now</p>
      </div>
    </div>
  </div>
</p-dialog>
