.show-vrl {
    display: block !important;
  }
  .hide-vrl {
    display: none !important;
  }
  .iframe-design{
    position: fixed;
    top:36%;
    right: 0;
    iframe{
      width: 100%;
    }
  }